.site-content .site-title{
font-size: 30px;
padding-left: 15%;
}
.site-content .site-btn2{
    display: none;

}
.site-content .site-btn1{
    margin-left: 15%;
}
.section-1 .heading-1 ,.section-1 .heading-2{
    font-size: 25px;
}
.section-1 .col-md-4{
    padding: 5%;
    margin-left: 8%;
}
.section-1 .card{
    width: 15rem;
}
.section-4 .col-md-5{
    padding: 0% 15%;
}