.section-1 .card{
    width:14rem;
}

.section4 .col-md-7 img{
    width:350px;
}

.section-4 .para-1{
    font-size: 2rem;
}
.section-4 .col-md-5{
    margin-right: 3%;
} 
.section-1 .col-md-4 .card
{
    margin-left: 20%;
    width:60%;
}