@import url('https://fonts.googleapis.com/css?family=Cormorant+Upright|Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu');

body{
    font-family: 'Lato';
}
.navbar-brand{
    
    color: lightcoral !important;
    font-size: 2rem !important;
    font-family: 'Pacifico';
 
}

.nav-link {
    
    color: black !important;
    font-size: 1rem !important;;
    margin: 1rem !important;;
    opacity: 0.7;
    font-family: 'Roboto+Condensed';
}


.nav-link:hover {
    
    
    color: #00e8e8 !important;
}
.active .nav-link{
    color: #00e8e8 !important;

}
.menue-right-btn{
padding: 13px 46px;
margin-right: 4%;
background-color: transparent;
transition: all 300ms ease-in-out;
}
.menue-right-btn:hover{
    color: wheat;
    background-color: #00e8e8;
}
.site-content{
    background-image: url('aroma-chili-condiments-357743.jpg');
    background-attachment: fixed;
    background-size: cover;
}
.site-title ,.site-desc{
color: white;
font-family: 'Righteous';
}
.site-title{
    margin-top: 30%;
    margin-bottom: 6%;
    font-size: 50px;
}
.site-desc{
    font-size: 14px;
padding-left: 15%;
}
.site-btn1{
    margin-left: 20%;
    background-color: black;
    color: white;
}
.site-btn2{
    background-color: white;
}
.site-btn1,.site-btn2{
    margin-top: 5%;
    margin-bottom: 40%;
}
.section-1 .heading-1{
    margin-top: 8%;
}
.section-1 .heading-2{
    margin-bottom: 5%;
    font-size: 39px;
}
.section-1 .para-1{
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
}
.section-1 .card-text,.para-1{
    color: black;
}
.section-1{
    margin-bottom: 8%;
}
.card{
    width:20rem;
}
.section-2 .container-fluid{
    background-image: url("beef-blur-chicken-323682.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.section-2 .heading-1{
    margin-bottom: 20%;
    font-family: 'Righteous';
    margin-bottom: 4%;
    width: 80%;
    color:whitesmoke;
}
.section-2 .para{
    width: 80%;
    font-family: 'Ubuntu';
    color: whitesmoke;
    margin-bottom: 7%;
}
.section-2 .btn{
    margin-bottom: 15%;
    width:30%;
    padding: 2% 5%;
}
.section-3{
    margin-top: 6%;
}
.section-3 i{
    color: #00e8e8;
}
.section-3 p{
    color: black;
}
.section-4{
    margin-top: 8%;
}
.section-4 .row .col-md-7,.col-md-5{
    margin-top: 10%;
    margin-bottom: 10%;
}
.section-4 a{
    color:lightskyblue;
    font-size: 40px;
    text-decoration: none;
}
.section-4 .para-1{
    color: wheat;
    font-family: 'Roboto Condensed';
    margin-top: 7%;
    font-size: 21px !important;
}

